@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1e293b;
  overflow: hidden;
}

.btn {
  background-color: #334155;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  transition: background 0.2s;
}
.btn:hover {
  background-color: #475569;
}
